html, body{
    background: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTuOpOmpOSzyO1-AV1e2Xh1b-0HMtLaKCoJEy0Pc9bOz7oy02Z1') no-repeat center center/cover;
    height: 500%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f557;
    
}
input[type="submit"]{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #170388;
    color: white;
    cursor: pointer;
}
header{
    border-right:  5px solid #f1f1f1;
    background-color: #190780;
    box-shadow: 0 0 5px rgba(212, 195, 195, 0.6);
    color: white;
    padding: 100px;
    text-align: right;
    margin-bottom: 30px;
}
 .content h1{
    text-align: center;
    color: #170388;

}

.content a{
    padding:  10px;
    margin-top: 10px;
    color: #170388;
    text-decoration: none;
}
.content a:hover{
    color: #190780;
}
.content{
    width: 50%;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(212, 195, 195, 0.6);
}
button{
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #170388;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #190780;
}
.button-class{
    display: inline-flex;
    margin-right: 10px;
    text-decoration: none;
    padding: 8px;
    border-radius: 20%;
    border: 2px solid #fff;
    font-size: 20px;
    color: #fff;
    margin: 0 5px;
    transition: transform 0.3s;
    text-align: center;
}
.button-class:hover{
    transform: scale(1.1);
}
.button-class:active{
    transform: scale(0.9);
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 10px;
  font-size: 15px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #b3aeae;
}

th {
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
tr:last-child td {
  border-bottom: none;
}

tr:hover td {
  background-color: #f1f9ff;
}

.dark-mode table {
  background-color: #2c2c2c;
  color: #f0f0f0;
}

.dark-mode th {
  background-color: #0056b3;
  color: #fff;
}

.dark-mode td {
  border-color: #5a5757;
}

.dark-mode tr:hover td {
  background-color: #3a3a3a;
}
